// Gallery

.gallery {
  margin-top: 6rem;

  h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5rem;
    font-size: 4rem;
  }
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .gallery-img {
    width: 300px;
    margin: 20px;
  }
}
