@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

// imports of partials
@import "./components/resets";
/////////////

:root {
  font-size: 10px;
}

//Header
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  background: white;
  border-bottom: 4px solid black;
  z-index: 4;

  .logo-container {
    margin-left: 4rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin-right: 4rem;

    li {
      list-style: none;
      perspective: 1000px;

      a {
        text-decoration: none;
        color: black;
        display: inline-block;
        transition: all 300ms ease-in-out 0ms;

        &:hover {
          transform: scale3d(1.2, 1.2, 1.2);

          color: orange;
          text-decoration: overline;
        }
      }
    }
  }
}

// Hero

main {
  .content-container {
    height: 100vh;
    margin-top: 5rem;
    background: url("https://images.pexels.com/photos/2325447/pexels-photo-2325447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
      center center/cover;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem 4rem;
    gap: 1.6rem;

    h1 {
      font-size: 4rem;
      font-family: "Fascinate", sans-serif;
      color: white;
    }
    p {
      font-size: 1.6rem;
      font-family: "Roboto", sans-serif;
      color: white;
    }
    .cta {
      padding: 1rem 4rem;
      background: rgb(25, 125, 255);
      color: white;
      font-family: "Fascinte", sans-serif;
      border-radius: 1rem 0;
      border: 4px solid orange;
      filter: drop-shadow(4px 4px 8px rgba(255, 255, 255, 0.5));
    }
  }
}

// Background section on

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  background: rgba(255, 177, 8, 0.2);
  position: relative;

  & > h1 {
    position: absolute;
    top: 1rem;
    font-size: 4rem;
    font-family: "Fascinate", sans-serif;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
    width: 300px;
    margin-top: 6rem;

    .card-img {
      width: 100%;
      object-fit: cover;
    }

    .card-content {
      padding: 1rem;
      h1 {
        font-family: "Fascinate", sans-serif;
        font-size: 5.4rem;
        margin-bottom: 1rem;
      }
      p {
        font-family: "Robboto", sans-serif;
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }

      a {
        padding: 1rem 4rem;
        border: 2px solid black;
        text-align: center;
        text-decoration: none;
        font-size: 1.6rem;
        font-family: "Roboto", sans-serif;
        display: inline-block;

        &:hover {
          transform: scale3d(1.2, 1.8, 3);
        }
      }
    }
  }
}

// Gallery

.gallery {
  margin-top: 6rem;

  h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5rem;
    font-size: 4rem;
  }
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .gallery-img {
    width: 300px;
    margin: 20px;
  }
}

// Footer

footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    input {
      padding: 1rem 2rem;
      margin-bottom: 2rem;
    }
    textarea {
      padding: 2rem;
      width: 42rem;
      height: 20rem;
      margin-bottom: 2rem;
    }

    button {
      text-decoration: none;
      color: #fff;
      background: #000;
      padding: 1rem 2rem;
      font-family: sans-serif;
      display: block;
    }
  }
}
