@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  background: white;
  border-bottom: 4px solid black;
  z-index: 4;
}
nav .logo-container {
  margin-left: 4rem;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-right: 4rem;
}
nav ul li {
  list-style: none;
  perspective: 1000px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: all 300ms ease-in-out 0ms;
}
nav ul li a:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  color: orange;
  text-decoration: overline;
}

main .content-container {
  height: 100vh;
  margin-top: 5rem;
  background: url("https://images.pexels.com/photos/2325447/pexels-photo-2325447.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") center center/cover;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 2rem 4rem;
  gap: 1.6rem;
}
main .content-container h1 {
  font-size: 4rem;
  font-family: "Fascinate", sans-serif;
  color: white;
}
main .content-container p {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: white;
}
main .content-container .cta {
  padding: 1rem 4rem;
  background: rgb(25, 125, 255);
  color: white;
  font-family: "Fascinte", sans-serif;
  border-radius: 1rem 0;
  border: 4px solid orange;
  filter: drop-shadow(4px 4px 8px rgba(255, 255, 255, 0.5));
}

.card-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 4rem;
  background: rgba(255, 177, 8, 0.2);
  position: relative;
}
.card-section > h1 {
  position: absolute;
  top: 1rem;
  font-size: 4rem;
  font-family: "Fascinate", sans-serif;
  text-align: center;
  width: 100%;
}
.card-section .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid black;
  width: 300px;
  margin-top: 6rem;
}
.card-section .card .card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-section .card .card-content {
  padding: 1rem;
}
.card-section .card .card-content h1 {
  font-family: "Fascinate", sans-serif;
  font-size: 5.4rem;
  margin-bottom: 1rem;
}
.card-section .card .card-content p {
  font-family: "Robboto", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.card-section .card .card-content a {
  padding: 1rem 4rem;
  border: 2px solid black;
  text-align: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  display: inline-block;
}
.card-section .card .card-content a:hover {
  transform: scale3d(1.2, 1.8, 3);
}

@media screen and (max-width: 768px) {
  .card-section {
    justify-content: center;
  }
}
.gallery {
  margin-top: 6rem;
}
.gallery h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5rem;
  font-size: 4rem;
}
.gallery .images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.gallery .gallery-img {
  width: 300px;
  margin: 20px;
}

footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(244, 13, 59, 0.2);
  padding: 4rem 1rem;
}
footer form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
}
footer form div {
  display: flex;
  gap: 1rem;
  width: 100%;
}
footer form div input {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
footer form textarea {
  padding: 2rem;
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
}
footer form button {
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 1rem 2rem;
  font-family: sans-serif;
  display: block;
}

@media screen and (max-width: 768px) {
  footer {
    height: 100%;
  }
  footer form {
    overflow: hidden;
  }
  footer form div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  footer form div input {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
  }
  footer form textarea {
    padding: 2rem;
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
  }
}
:root {
  font-size: 10px;
}/*# sourceMappingURL=styles.css.map */